/* FONTS */
@font-face {
    font-family: "Pokemon Hollow";
    src: url("../fonts/Pokemon_Hollow.ttf") format("woff2")
}

@font-face {
    font-family: "Pokemon Solid";
    src: url("../fonts/Pokemon_Solid.ttf") format("woff2")
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Pokemon Hollow", Helvetica, arial, sans-serif;
    color: #20223A;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: -32px 0px 16px 0px;
}

p {
    line-height: 1;
    margin: 0;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-pokemon-div {
    z-index: 1;
    display: inline-block;
    width: 33%;
    height: 250px;
    padding: 24px 0;
}

.c-button-pokemon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-pokemon {
    text-align: center;
}

.c-pokemon__info {
    margin: auto;
    font-size: 32px;
}

.c-pokemon__info--div {
    z-index: 0;
    position: absolute;
    margin: auto;
    width: 75%;
    height: 500px;
    border: solid 1px black;
}

.c-pokemon_img {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 250px;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/
.o-row {
    position: relative;
    padding: 24px 24px 0;
}

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em;
    /* 79.5 * 16px = 1272 */
}

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-header {
    font-family: "Pokemon Solid";
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}