/* #region Fonts */
@font-face {
    font-family: "Pokemon Hollow";
    src: url("../fonts/Pokemon_Hollow.ttf") format("woff2")
}

@font-face {
    font-family: "Pokemon Solid";
    src: url("../fonts/Pokemon_Solid.ttf") format("woff2")
}

/* #endregion */

/* #region Variables */
:root {
    /* colors */
    --color-bg: #17a2b8;
    --color-bg--div: red;
}

/* #endregion */

html {
    background-color: var(--color-bg);
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: -32px 0px 16px 0px;
}

p {
    line-height: 2;
    margin: 0;
    font-size: 32px;
}

@media (min-width: 576px) {
    p {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 32px;
    }
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

/* #region Object*/
.o-row {
    position: relative;
    padding: 24px 24px 0;
}

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 85em;
}

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
}

.o-layout__item {
    width: 100%;
    display: flex;
}

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm>.o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg>.o-layout__item {
    padding: 0 24px;
}

.o-layout--gutter-xl {
    margin: 0 -48px;
}

.o-layout--gutter-xl>.o-layout__item {
    padding: 0 48px;
}

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/* #endregion*/

/*#region Componets*/
.c-bar {
    display: block;
    position: relative;
    width: 100%;
    background-color: transparent;
    border: solid 0.2px grey;
    border-radius: 8px;
    color: black;
    height: 30px;
}

.c-bar__loading {
    width: 1%;
    position: absolute;
    height: 30px;
    background-color: green;
    border-radius: 8px;
}

.c-bar__info {
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    vertical-align: middle;
}

.c-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

.c-btn-pokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.c-pokemon__info--div {
    color: black;
    visibility: hidden;
    position: fixed;
    z-index: -1;
    width: 80%;
    height: auto;
    margin: -20% auto;
    border: solid 1px grey;
    border-radius: 16px;
    background-color: var(--color-bg--div);
    padding: 8px;
}

@media (min-width: 576px) {
    .c-pokemon__info--div {
        /* position: fixed;
        z-index: -1;
        width: 80%;
        height: auto; */
        margin: 5% auto;
        /* border: solid 1px grey;
        border-radius: 16px;
        background-color: var(--color-bg--div); */
        padding: 16px;
    }

    .c-pokemon_img {
        display: block;
        margin: auto;
        max-height: 300px;
        width: auto;
    }
}

@media (min-width: 1200px) {
    .c-pokemon__info--div {
        /* position: fixed;
        z-index: -1;
        width: 80%;
        height: auto; */
        margin: 0% auto;
        /* border: solid 2px grey;
        border-radius: 16px;
        background-color: var(--color-bg--div); */
        padding: 16px;
    }
}

.c-pokemon_img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
    height: auto;
}

.c-pokemon_img--div {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 600px;
    min-height: 100px;
}

.c-header {
    padding: 8px;
    text-shadow: -3px 0 #2a75bb,
        0 3px #2a75bb,
        3px 0 #2a75bb,
        0 -3px #2a75bb;
    color: #ffcb05;
    font-family: "Pokemon Solid";
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

@media (min-width: 768px) {
    .c-header {
        font-size: 48px;
    }
}

.c-input-reset {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.c-input {
    border: 1px solid black;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
    font-family: inherit;
    color: inherit;
    line-height: 12px;
    padding: 8px 0 8px 8px;
    outline: none;
    display: flex;
    width: 100%;
}

.c-label {
    display: flex;
    width: auto;
}

.c-list {
    padding: 0;
    margin: auto;
}

.c-list--pokemon {
    line-height: 2;
    list-style-type: none;
}

/*#endregion*/

/*#region Utilities*/

.u-color-neutral-base {
    color: Silver;
}

.u-color-neutral-dark {
    color: Black;
}

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 85em !important;
}

.u-max-width-none {
    max-width: none !important;
}

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

.u-text-sm {
    font-size: 14px;
}

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }

    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp1 {
        width: 25% !important;
    }

    .u-3-of-4-bp1 {
        width: 75% !important;
    }

    .u-1-of-5-bp1 {
        width: 20% !important;
    }

    .u-2-of-5-bp1 {
        width: 40% !important;
    }

    .u-3-of-5-bp1 {
        width: 60% !important;
    }

    .u-4-of-5-bp1 {
        width: 80% !important;
    }

    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }

    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp2 {
        width: 25% !important;
    }

    .u-3-of-4-bp2 {
        width: 75% !important;
    }

    .u-1-of-5-bp2 {
        width: 20% !important;
    }

    .u-2-of-5-bp2 {
        width: 40% !important;
    }

    .u-3-of-5-bp2 {
        width: 60% !important;
    }

    .u-4-of-5-bp2 {
        width: 80% !important;
    }

    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }

    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp3 {
        width: 25% !important;
    }

    .u-3-of-4-bp3 {
        width: 75% !important;
    }

    .u-1-of-5-bp3 {
        width: 20% !important;
    }

    .u-2-of-5-bp3 {
        width: 40% !important;
    }

    .u-3-of-5-bp3 {
        width: 60% !important;
    }

    .u-4-of-5-bp3 {
        width: 80% !important;
    }

    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }

    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }

    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }

    .u-1-of-4-bp4 {
        width: 25% !important;
    }

    .u-3-of-4-bp4 {
        width: 75% !important;
    }

    .u-1-of-5-bp4 {
        width: 20% !important;
    }

    .u-2-of-5-bp4 {
        width: 40% !important;
    }

    .u-3-of-5-bp4 {
        width: 60% !important;
    }

    .u-4-of-5-bp4 {
        width: 80% !important;
    }

    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }

    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}

/* #endregion */